{{ template "header" . }}

<h2>Donating</h2>

<p>You can support the project monetarily <a href="https://boosty.to/unknown321/donate" target="_blank">here (Boosty.to)</a>.</p>

{{ if .Config.Dynamite.Donated }}
<p>Thanks for your donation! In-game popup has been disabled.</p>
{{ else }}
<p>If you want to disable the in-game popup, click <a href="/donated">here</a>.</p>
{{ end }}

{{ template "footer" . }}
