{{ template "header" . }}

    {{- if gt (len .Error) 0 -}}
    <p><b><font color="#ff4444">Error</font></b>: {{ .Error }}.</p>
    <p><a href='/'>Go back</a></p>
    {{- else -}}
        {{- if .Done -}}
        <p>Mod installed! You can <a href="steam://run/287700" class="btn-launch">launch the game</a> now.</p>
        <p><a href='/'>Go back</a></p>
        {{- else -}}
        <p>Installing...</p>
        {{- end -}}
    {{- end -}}

{{ template "footer" . }}
